body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  /*height: 100%;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #8BC34A }
}

/* Dashed line */
@keyframes dashed-line {
  from { stroke-dashoffset: 0}
  to  { stroke-dashoffset: -1 }
}

/*Cutting mat*/
.cutting-mat{
  background-color:#333;
  background-image:
          -webkit-linear-gradient(#555 4px, transparent 2px);
  background-image:
          -moz-linear-gradient(#555 4px, transparent 2px);
  background-image:
          -o-linear-gradient(#555 4px, transparent 2px);
  background-image:
          linear-gradient(#555 4px, transparent 2px),
          linear-gradient(90deg, #555 4px, transparent 2px),
          radial-gradient(#444 25%, transparent 26%),
          radial-gradient(#444 25%, transparent 26%);
  background-size:50px 50px, 50px 50px,10px 10px,10px 10px;
  background-position: 0 0, 0 0, 0 0, 5px 5px;
}